<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appliedrec.mrtd_reader_sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.appliedrec.mrtd_reader_app.MRTDReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name="com.appliedrec.mrtd_reader_app.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/nfc_passport_capture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appliedrec.mrtd_reader_app.CaptureResultActivity"
            android:label="@string/captured_document"
            android:exported="false" />
        <activity
            android:name="com.appliedrec.mrtd_reader_app.FaceComparisonActivity"
            android:label="@string/face_comparison" />
        <activity
            android:name="com.appliedrec.mrtd_reader_app.DocumentDetailsActivity"
            android:label="@string/document_details" />

        <meta-data
            android:name="com.appliedrec.verid.password"
            android:value="${veridPassword}" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
        <meta-data
            android:name="com.appliedrec.microblink_key"
            android:value="${microblinkLicenceKey}" />
    </application>

</manifest>